@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    background-color: #f6c346;
    opacity:0.98;
}

.navbar .navbar-brand {
    color: #2c2f38;
}
.navbar .navbar-brand div img{
    margin: -4px 10px 0px 10px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}

.navbar .navbar-text {
    color: #2c2f38;
}

.navbar .navbar-text a {
    color: #ffffff;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    color: #2c2f38;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}
.navbar-toggler-icon{
    background-image: url("../img/burger.svg");
    
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #d77328;
}

.navbar .navbar-toggle {
    border-color: #d77328;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #d77328;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #2c2f38;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #2c2f38;
}

.navbar .navbar-link {
    color: #2c2f38;
}

.navbar .navbar-link:hover {
    color: #ffffff;
}

.logo{
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #2c2f38;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #d77328;
    }
    .jumbotron{
        height: 200px;
        overflow: hidden;
        margin-top: 30px;
    }
    .jumbotron .container #detail{
        position: absolute;
        margin: 50px;
    }
    .jumbotron .container #detail span{
        color: #d77328;
    }
    .widgets .popular .detail{
        margin: 20px;
    }

}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #2c2f38;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #d77328;
    }
    .widgets .popular .detail{
        margin: 20px;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #2c2f38;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #d77328;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #2c2f38;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #d77328;
    }
    
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #2c2f38;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #d77328;
}
.jumbotron{
    height: 200px;
    overflow: hidden;
}
.jumbotron .container #detail{
    position: absolute;
    margin: 15px;
}
.jumbotron .container #detail span{
    color: #d77328;
}
.popular {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius:15px;
    box-shadow: 2px 2px 6px #2c2f38;
    margin-bottom: 20px;
}
section .widgets{
    margin-bottom: 20px;
}
.popular .detail{
    margin-left: -20px;
}
.popular .detail p{
    font-family: Arial, sans-serif;
    font-size: 11px;
}
.popular .detail a{
    text-decoration: none;
}
.popular img{
    width:100%;
    margin-top: 10px;
}
.category{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius:15px;
    box-shadow: 2px 2px 6px #2c2f38;
    margin-bottom: 20px;
}
.category ul li a{
    text-decoration: none;
}
.post{
    border: 1px solid #ccc;
    

}
.post .post-date{
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.post .post-title{
    padding: 20px;
}
.post .post-date .day{
    font-size: 30px;
    color:crimson;
}
.post .post-date .month{
    font-size: 18px;
    font-weight:600;
}
.post .post-date .year{
    font-size: 18px;
    font-weight: 100;
}
footer{
    background: #2c2f38;
    height: 70px;
    color: aliceblue;
    line-height: 70px;
    letter-spacing: 0.75px;
}